{% extends 'base.html' %}

{% block title %}
Detalhes do Carro
{% endblock %}

{% block css %}
<style>
  navbar-personalizado {
    color: #000 !important;
  }

  .container-fluid {
    margin-top: 5%;
  }

  .card-veiculo {
    width: 100%;
    max-width: 25rem;
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    filter: drop-shadow(5px 7px 4px rgba(0, 0, 0, 0.25));
  }

  .card-veiculo img {
    height: 200px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
  }

  .card-veiculo .card-body {
    padding: 10px;
  }

  .card-veiculo h5 {
    margin-bottom: 10px;
    color: hsl(356, 63%, 71%);
  }

  .card-veiculo {
    color: #103C45;

  }

  .card-veiculo span {
    display: block;
    margin-bottom: 5px;
    color: #6FB9BE;
  }

  .card-veiculo .preco {
    font-weight: bold;
  }

  .card-veiculo .negociavel {
    color: green;
  }

  .card-veiculo .nao-negociavel {
    color: red;
  }

  .btn {
    border: none;
    padding: 10px 24px;
    border-radius: 20px;
    font-size: 12px;
    font-size: 0.8rem;
    letter-spacing: 2px;
    cursor: pointer;
  }

  .fill {
    background: #CCDADB;
    color: #103C45;
    filter: drop-shadow(0);
    font-weight: bold;
    transition: all .3s ease;
  }

  .fill:hover {
    transform: scale(1.125);
    border-color: rgba(255, 255, 255, 0.9);
    color: #103C45;
    filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
    transition: all .3s ease;
  }

  #lance {
    display: none;
  }

  .contador-tempo {
    color: #E4878D;
  }

  #lance:checked~.contador-tempo {
    color: #103C45;
  }

  @media (max-width: 576px) {
    .card-veiculo {
      width: 100%;
      max-width: none;
      margin-left: 0;
    }

    .card-veiculo img {
      height: 150px;
    }

    .card-veiculo .card-body {
      padding: 5px;
    }

    .card-veiculo h5 {
      margin-bottom: 5px;
      font-size: 16px;
    }

    .card-veiculo span {
      font-size: 12px;
    }

    .btn {
      padding: 8px 18px;
      font-size: 10px;
    }
  }

  #lance {
    display: none;
  }
</style>
{% endblock %}

{% block conteudo %}
<div class="row">
  <div class="col-md-8 offset-md-2">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="alert alert-dismissible fade show mt-3">
      {% for category, message in messages %}
      <div class="alert-{{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <div class="card" data-termino="{{ carro.tempo_termino.isoformat() }}">
      <div class="row mt-2">
        <form action="/favoritar_carro/{{carro.id}}" method="get">
          <div class="row mt-2">
            <button type="submit" id="btnFavorito" class="btn btn-outline-danger" {% if e_favorito %}disabled{% endif %}>
                <i class="bi bi-heart"></i> {% if e_favorito %}Favorito{% else %}Adicionar aos Favoritos{% endif %}
            </button>
        </div>
        </form>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <img
              src="{% if carro.imagem %}{{ url_for('static', filename=carro.imagem) }}{%else%} {{ url_for('static', filename='imagens/carropadrao.jpg') }}{%endif%}"
              class="card-img-top" alt="Imagem do Veículo">
          </div>
          <div class="col-md-8">
            <div class="row mt-2">
              <h5 class="card-title col-9 card-veiculo">{{ carro.modelo }}</h5>
              <span class="col-3 card-veiculo"> Ano: {{carro.ano}}</span>
            </div>

            <p class="card-text card-veiculo">Descrição: {{ carro.descricao }}</p>
            <div class="d-flex justify-content-between">
              <p class="card-text card-veiculo">Preço: R$ {{ carro.preco }}</p>
              <p class="card-text card-veiculo">Negociável: {% if carro.negociavel %}Sim{% else %}Não{% endif %}</p>
            </div>
            <div class="row mt-2">
              <p class="card-text contador-tempo">
                {% if tempo_restante > 0 %}
                Tempo restante: {{ tempo_restante | int }} segundos
                {% else %}
                Leilão encerrado
                {% endif %}
              </p>
            </div>
            {% if carro.usuario == usuario_logado %}
            <div class="d-flex flex-row-reverse">
              <a href="/atualizar_carro/{{ carro.id }}" class="btn btn-primary">Editar</a>
              <a href="/excluir_carro/{{ carro.id }}" class="btn btn-danger mr-2">Excluir</a>
            </div>
            {% else %}
            <div class="d-flex flex-row-reverse">
              <a href="#" class="btn btn-primary btn-dar-lance">Dar Lance</a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" id="lance">
  <div class="col-md-4 offset-md-3 card" style="padding: 10px; border-radius: 10px;">
    <h2>Dar Lance</h2>
    <form method="post" action="/realizar_lance/{{carro.id}}">
      <div class="form-group">
        <label for="valor">Valor do Lance:</label>
        <input type="number" step="0.01" min="0.01" name="valor" id="valor" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Dar Lance</button>
      <button class="btn btn-danger">Cancelar</button>
    </form>
  </div>
</div>


<div class="row mt-5">
  {% if carro.usuario != usuario_logado %}
  {% for lance in lances_dados %}
  <div class="col-md-4">
    <div class="card card-lance">
      <div class="card-body">
        <h5 class="card-title">Carro: {{ lance.carro.modelo }}</h5>
        <p class="card-text">Valor do Lance: R$ {{ lance.valor }}</p>
        <p class="card-text">Data do Lance: {{ lance.tempo_lance }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
  {% else %}
  {% for lance in lances_recebidos %}
  <div class="col-md-4">
    <div class="card card-lance">
      <div class="card-body">
        <h5 class="card-title">Seu Carro: {{ lance.carro.modelo }}</h5>
        <p class="card-text">Valor do Lance: R$ {{ lance.valor }}</p>
        <p class="card-text">Data do Lance: {{ lance.tempo_lance }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{%endif%}

{% block js %}
<script>
  function toggleFavorito(carroId) {
    fetch(`/favoritar_carro/${carroId}`, {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json',
      }
    })
      .then(response => response.json())
      .then(data => {
        if (data.status === 'success') {

          alert('Carro favoritado/desfavoritado com sucesso!');

        } else {
          alert('Erro ao favoritar/desfavoritar o carro.');
        }
      })
      .catch(error => {
        console.error('Erro:', error);
      });
  }

  document.addEventListener('DOMContentLoaded', function () {

    var btnDarLance = document.querySelector('.btn-dar-lance');

    btnDarLance.addEventListener('click', function (event) {
      event.preventDefault();

      var formularioLance = document.getElementById('lance');

      formularioLance.style.display = formularioLance.style.display === 'none' ? 'block' : 'none';
    });
  });
</script>
{% endblock %}
{% endblock %}